body{
background-color:pink;
}
.cont{
background-color:white;
padding: 10px;
   border-radius:20px;
}
.title{
    background-image: url("https://i.pinimg.com/736x/e3/52/5e/e3525eaa0c898a87a5d75217ca2800fc.jpg");
    padding: 30px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: white;
    text-shadow:0 0 20px palevioletred, 0 0 20px olivedrab;
    font-size:30px;
     margin: 0;
     border:0;
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
}
.project{
    padding: 10px;
    display: inline-block;
}
button{
    padding:10px 20px;
    background-color: pink;
    border:1px solid black;
    border-radius:20px;
    font-weight:bold;
}
h2{
    text-align: center;
}
td{
    text-align: center;
}
table{
border:1px solid black;
padding:10px 70px 10px 0px;
border-radius:20px;
}
a{
    color: olivedrab;
    text-decoration: none;
}
